body {
    background-color: antiquewhite;
}

#playerOneContainer {
    border: solid 3px blue;
    border-radius: 4px;
    background-color: white;
}

#gameStatsContainer {
    border: solid 3px black;
    border-radius: 4px;
    background-color: white;
}

#playerTwoContainer {
    border: solid 3px green;
    border-radius: 4px;
    background-color: white;
}

.controlImg {
    height: 48px;
    width: 48px;
}

.controlBtns {
    float: left;
}